

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 评论管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">QQ</label>
            <div class="layui-input-inline">
              <input type="text" id="qq" name="qq" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit lay-filter="LAY-app-contcomm-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-comm" data-type="batchdel">删除</button>
        </div>
        <table id="LAY-app-content-comm" lay-filter="LAY-app-content-comm"></table>

        <script type="text/html" id="status">
          <input type="checkbox" name="content" value="{{d.status}}" lay-skin="switch" itemid="{{d.id}}" lay-text="已发布|未通过" lay-filter="comment_status" {{ d.status == 1 ? 'checked' : '' }}/>
        </script>
        <script type="text/html" id="table-content-com">
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'contlist', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;

    table.render({
      elem: '#LAY-app-content-comm'
      ,url: '/comment/listComment'
      ,limits: [5,10,15]
      ,cols: [
        [
          {type:'checkbox'}
          ,{field:'id', title:'ID', width:50, sort: true}
          ,{field:'qq', title:'QQ', width:120}
          ,{field:'username', title:'昵称', width: 110}
          ,{field:'create_time', title:'创建时间', width:200}
          ,{field:'hits', title:'点赞数',width: 80,  sort: true,minWidth: 100}
          ,{field:'common', title:'评论', sort: true, width: 300}
          ,{field:'status', title:'审核状态',width: 120, sort: true,toolbar: '#status'}
          ,{ title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-content-com' }
        ]
      ]
      , page: true
      , limit: 7
      , height: '450'
      , text: '对不起，加载出现异常！'
    });

    //监听搜索
    form.on('submit(LAY-app-contcomm-search)', function(data){
      var field = data.field;
      var qq = $('#qq');
      //执行重载
      table.reload('LAY-app-content-comm', {
        method: 'post'
        ,page: {
          curr: 1 //重新从第 1 页开始
        },
        where: {
          qq: qq.val(),
        }
      });
    });



    var $ = layui.$, active = {
      //批量删除
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-app-content-comm')
          ,checkData = checkStatus.data; //得到选中的数据
        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        layer.confirm('确定删除吗？', function(index) {
          var ids = "";
          //这里先遍历，然后到后台处理
          for(var i = 0; i < checkData.length ;i++){
            ids += checkData[i].id + ",";
          }
          $.ajax({
            type: 'post',
            url: '/comment/batchdelComment/'+ids,
            // data: {"id":ids},
            success:function (data) {
              layer.alert('删除成功啦',{icon: 1});
              table.reload('LAY-app-content-comm');
              layer.msg('已删除');
            }})

        });
      }

    };
    //删除按钮事件
    table.on('tool(LAY-app-content-list)', function (obj) {
      var data = obj.data //获得当前行数据
              , layEvent = obj.event; //获得 lay-event 对应的值
     if (layEvent === 'del') {  //绑定的事件名称
        layer.confirm('确定删除该评论吗？', function (index) {
          obj.del(); //删除对应行（tr）的DOM结构
          layer.close(index);  //关闭弹框
          $.ajax({
            type: 'post',
            url: '/comment/delComment/'+data.id,
            // data: {"id":data.id},
            success:function (data) {
              layer.alert('删除成功啦',{icon: 1});
            }})
        });
      }
    });


    function update_useIt(id,useIt){
      $.post('/comment/editStatus',{id:id,status:useIt},function(result){
        if(result.success){
          layer.msg('修改成功');
        }
      },'json');
    }
    //是否显示
    form.on('switch(comment_status)', function(obj){
      var id = $(this).attr('itemid');
      if(obj.elem.checked){
        update_useIt(id,1);
      }else{
        update_useIt(id,0);
      }
    });


    $('.layui-btn.layuiadmin-btn-comm').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
</body>
</html>

