<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<style>
			.layui-upload-img {
				width: 92px;
				height: 92px;
				margin: 0 10px 10px 0;
			}

			.surfaceThree {
				float: left;
				position: relative;
				top: 30px;
				height: 30px;
				width: 120px;
				background: #00c4ff;
				text-align: center;
				line-height: 30px;
				font-size: 16px;
				color: #fff;

			}

			.surfaceThree input {
				position: absolute;
				top: 5px;
				left:-70px;
				height: 30px;
				/* 重点代码让input隐藏 */
				opacity: 0;
			}

			.surfaceThree input:hover {
				opacity: 0;
			}
		</style>
	</head>

	<body>
		<div class="layui-tab page-content-wrap">
			<ul class="layui-tab-title">
				<li class="layui-this">站点配置</li>
				<li>SEO配置</li>
				<li>关于我配置</li>
				<li>图片</li>
			</ul>
			<div class="layui-tab-content">
				<!--站点配置-->
				<div class="layui-tab-item layui-show">
					<form class="layui-form" style="width: 90%;padding-top: 20px;">

						<div class="layui-form-item">
							<label class="layui-form-label">qq：</label>
							<div class="layui-input-block">
								<input type="text" name="qq" required lay-verify="required" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input" th:value="${configList.qq}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">微信：</label>
							<div class="layui-input-block">
								<input type="text" name="wechat" required lay-verify="required" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input" th:value="${configList.wechat}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">微信公众号：</label>
							<div class="layui-input-block">
								<input type="text" name="wechatgzh" required lay-verify="required" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input" th:value="${configList.wechatgzh}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">GitHub：</label>
							<div class="layui-input-block">
								<input type="text" name="github" required lay-verify="required" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input" th:value="${configList.github}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">建站时间：</label>
							<div class="layui-input-block">
								<input type="text" name="create_time" required lay-verify="required" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input" th:value="${configList.create_time}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">备案信息：</label>
							<div class="layui-input-block">
								<input type="text" name="beian" required lay-verify="required" placeholder="请输入备案信息" autocomplete="off" class="layui-input" th:value="${configList.beian}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">版权信息：</label>
							<div class="layui-input-block">
								<input type="text" name="banquan" required lay-verify="required" placeholder="请输入版权信息" autocomplete="off" class="layui-input" th:value="${configList.banquan}">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">统计代码：</label>
							<div class="layui-input-block">
								<textarea name="tongji" placeholder="请输入代码" class="layui-textarea" th:utext="${configList.tongji}"></textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="siteInfo">立即提交</button>
							</div>
						</div>
					</form>
				</div>
				<!--SEO配置-->
				<div class="layui-tab-item">
					<form class="layui-form" style="width: 90%;padding-top: 20px;">
						<div class="layui-form-item">
							<label class="layui-form-label">SEO标题：</label>
							<div class="layui-input-block">
								<input type="text" name="title" placeholder="请输入seo标题" autocomplete="off" class="layui-input" th:value="${configList.title}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">关键字：</label>
							<div class="layui-input-block">
								<input type="text" name="keyword" placeholder="请输入seo关键字" autocomplete="off" class="layui-input" th:value="${configList.keyword}">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">描述：</label>
							<div class="layui-input-block">
								<textarea name="description" placeholder="请输入seo描述" class="layui-textarea" th:utext="${configList.description}"></textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="seoInfo">立即提交</button>
							</div>
						</div>
					</form>
				</div>
				<!--关于我配置-->
				<div class="layui-tab-item">
					<form class="layui-form" style="width: 90%;padding-top: 20px;">
						<div class="layui-form-item">
							<label class="layui-form-label">网站名称：</label>
							<div class="layui-input-block">
								<input type="text" name="username" autocomplete="off" class="layui-input" th:value="${configList.username}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">作者：</label>
							<div class="layui-input-block">
								<input type="text" name="name" autocomplete="off" class="layui-input" th:value="${configList.name}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">职业：</label>
							<div class="layui-input-block">
								<input type="text" name="job" autocomplete="off" class="layui-input" th:value="${configList.job}">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">自我介绍：</label>
							<div class="layui-input-block">
								<textarea name="summary" placeholder="请输入seo描述" class="layui-textarea"th:utext="${configList.summary}"></textarea>
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">关于我：</label>
							<div class="layui-input-block">
								<textarea name="html_desc" style="height:400px" placeholder="请输入seo描述" class="layui-textarea" th:utext="${configList.html_desc}"></textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="meInfo">立即提交</button>
							</div>
						</div>
					</form>
				</div>
				<!--图片-->
				<div class="layui-tab-item">
					<form class="layui-form" style="width: 90%;padding-top: 20px;">
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">头像：</label>
							<div class="layui-input-block">
								<input type="text" name="icon" autocomplete="off" class="layui-input"  th:value="${configList.icon}">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">微信号：</label>
							<div class="layui-input-block">
								<input type="text" name="wechat_icon" autocomplete="off" class="layui-input"  th:value="${configList.wechat_icon}">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">支付宝：</label>
							<div class="layui-input-block">
								<input type="text" name="Alipay" autocomplete="off" class="layui-input"  th:value="${configList.Alipay}">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">微信：</label>
							<div class="layui-input-block">
								<input type="text" name="weixinpay" autocomplete="off" class="layui-input"  th:value="${configList.weixinpay}">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="picInfo">立即提交</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
            layui.config({
                base: '../../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'form', 'upload'], function () {
				var form = layui.form;
				var $ = layui.$;
				var element = layui.element;
				//监听信息提交
				form.on('submit(siteInfo)', function(data) {
                    editform("siteInfo",data);
				});
				//监听seo提交
				form.on('submit(seoInfo)', function(data) {
                    editform("seoInfo",data);
				});
				//监听信息提交
				form.on('submit(meInfo)', function(data) {
                    editform("meInfo",data);
				});
				//监听seo提交
				form.on('submit(picInfo)', function(data) {
                    editform("picInfo",data);
				});

				function editform(method,data){
                    $.ajax({
                        url: "/config/edit/"+method,
                        dataType: 'json',
						data: data.field,
                        type: 'post',
                        success: function (data) {
                            layer.alert('修改成功',function(){
                                window.parent.location.reload();//刷新父页面
                            });
                        }
                    })
                    return false;
                }
			});
		</script>


	</body>

</html>